<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="cards-show p-3">
    <% Event.all.each do |event| %>
      <div class="card-event">
        <div class="card-event-image">
          <%= image_tag("https://images.unsplash.com/photo-1520483691742-bada60a1edd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") %>
          <div class="card-event-infos">
            <h3><strong><%= link_to event.name, event_path(event) %></strong></h3>
            <p><%= '⭐️' * event.rating.to_i %></p>
            <p><em><%= event.duration.to_i %> hours</em></p>
            <p><%= event.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>