<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="cards-show p-3">
    <% @itin_results.each do |event| %>
      <div class="card-event">
        <div class="card-event-image">
          <%= image_tag(event.photo) if event.photo.present? %>
          <div class="card-event-infos">
            <h3><strong><%= link_to event.name, event_path(event) %></strong></h3>
            <p><%= '⭐️' * event.rating.to_i %></p>
            <p><em><%= event.duration.to_i %> hours</em></p>
            <p><%= event.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>