<h1>Itineraries#show</h1>

<div class="container">
  <div class="row"> <%= :location %></div>
  <div class="row"> <%= :name %> </div>
  <div class="row"> <%= :search_radius %> </div>
  <div class="row"> <%= :available_time %> </div>
  <div class="row"> <%= :transit_mode %> </div>
</div>

