  <div
  id="map"
  style="width: 100%;height: 400px;clear:both;overflow: auto;display:block;position:relative"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-geometry="<%= @itin_directions.first.dig('routes').first.dig('geometry').to_json %>"
  ></div>

<div class="container">
  <div class="directions">
    <h2>Directions</h2>
    <!-- first["routes"].first["legs"].first["steps"].first["maneuver"]["instruction"] -->
    <!-- aaa.first[:routes].first[:legs][0][:steps][4][:maneuver][:instruction] -->
    <ol>
      <% @itin_directions.dig(0, "routes", 0, "legs").each do |leg| %>
        <% leg.dig("steps").each do |step| %>
         <li><%= step.dig("maneuver", "instruction") %></li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <div class="cards-show p-3">
    <% @itin_results.each do |event| %>
      <div class="card-event">
        <div class="card-event-image">
          <%= image_tag(event.photo) if event.photo.present? %>
          <div class="card-event-infos">

            <h3><strong><%= link_to event.name, itinerary_event_path(@itinerary, event) %></strong></h3>
            <p><%= '⭐️' * event.rating.to_i %></p>
            <p><em><%= event.duration.to_i %> hours</em></p>
            <p><%= event.address %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
