<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <%= image_tag "https://res.cloudinary.com/dh2tpkp5c/image/upload/v1559035478/icon-logo-ii_xztgh9.png", class: "navbar-icon" %>
    <%= image_tag "https://res.cloudinary.com/dh2tpkp5c/image/upload/v1559036576/ii-text-logo_ro1ucc.png", class: "navbar-logo" %>
  <% end %>
  <div class="navbar-brand" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/dh2tpkp5c/image/upload/v1559056279/user_jc6wyx.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My itineraries", itineraries_path, method: :get, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
